@using Shop.Models.Models
@model List<Product>



<div class="container">
    <div class="row p-4">
       <div class="col-6">
           <h2 class="text-primary">Termékek</h2>
       </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-danger">
                <i class="bi bi-plus-circle mr-1"> Termék hozzáadása</i>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <theade>
            <tr>
                <th>Cím</th>
                <th>Azonosító</th>
                <th>Ár</th>
                <th>Szerző</th>
                <th>Kategoria</th>
                <th></th>
            </tr>
        </theade>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Author</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="w-75" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-warning mx-2 my-2">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
